.add-task-container {
  display: flex;
  padding: 10px 0px;
  width: 100%;
}
.add-task-input {
  border: none;
  width: 100%;
  display: flex;
  border-radius: 5px;
  height: 40px;
  background-color: #444;
  color: #eee;
  font-size: 16px;
  padding: 0px 70px;

  flex: 2px;
}
.add-task-button-container {
  margin-left: 30px;
  flex: 1;
}
