.container-task {
  background-color: #444;
  margin: 8px 0px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: rgb(195, 193, 193);
  align-items: center;
  /* text-align: center; */
  padding: 10px 10px;
}
